# Dependencies
/node_modules
/dist
/tmp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime files
.npm
.eslintcache
*.tgz

# OS Files
.DS_Store
Thumbs.db

# 🔑 Credentials & Environment (CRITICAL SECURITY SECTION)
.env
*.env.*
# AAtual JSON key file 
ocr-service-key.json